.about-me {
    display: flex;
    flex-direction: column;
    padding: 100px 70px;
    justify-content: space-between;
    background-color: #FAFAFA;
}

.about-me__content {
    display: flex;
    justify-content: space-between;
}

.about-me__text {
    max-width: 600px;
}

.about-me__title {
    margin: 0 0 18px;
    font-weight: 400;
    line-height: 1.16;
    font-size: 50px;
    letter-spacing: -0.04em;
}

.about-me__subtitle {
    margin: 0 0 26px;
    font-weight: 500;
    line-height: 1.16;
    font-size: 18px;
}

.about-me__description {
    margin: 0;
    font-weight: 400;
    line-height: 1.6;
    font-size: 14px;
}

.about-me__social{
    margin: 99px 0 0;
}

.about-me__social-link:hover {
    opacity: 0.6;
}

.about-me__social-link {
    margin: 0 20px 0 0;
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    line-height: 1.2;
    font-size: 14px;
}

.about-me__photo {
    width: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}